a{
  color:black;
  font-style: none;
  text-decoration: none;
  font-size: 30px;
  margin-right: 100px;
  align-items: center;
  top:-470px;
  left:550px;
  position:relative;
  
}
a:hover{
  color:red;
  text-decoration: underline;
}
#item-select{
  color:red;
  text-decoration: underline;
}
#logo{
  position:relative;
  top:-130px;
  left:-60px;
}
.pesquisa{
  position:absolute;
  top:100px;
  left:484px;
  
}
input[type="text"]{
  position: absolute;
  padding:10.8px;
  width:623px;
  top: 110px;
  left:500px;
  border:solid 0px rgb(0, 0, 0);
  font-size:25px;
}
input:focus{
  outline:none;
}
.lupa{
  position:absolute;
  top:123px;
  left:12200px;
}
.x{
  position:fixed;
  top:120px;
  left:1017px;
}
.carrinho{
  top: 115px;
}
#menu{
  color:black;
}
#carrinho{
position: absolute;
top: 112px;
right: 266px;
width: 36px;
}
#contato{
  z-index: 9999;
position: absolute;
top: 112px;
right: 350px;
width: 36px;

}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  margin: auto;
top: 290px;
left: 300px;
transition: 2s;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 2s;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  transition: 2s;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  transition: 2s; 
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  transition: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#coracao{
  width: 54px;
  position: absolute;
  left: 650px;
  top: 46px;
}
#coracao2{
  font-family: serif;
  position: absolute;
  left: 1265px ;
  top: 101px;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.image:hover {
  transform: scale(1.3);
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu a:hover {
  background-color: #f1f1f1;
}
.card {
  top: 300px;
  left: 200px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
  /* clear and add new css */
transition: all 0.5s;
display: flex;
justify-content: center;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}


.card2 {
  top: 300px;
  left: 750px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2:last-child{
  justify-content: flex-end;
}

.card-img2 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider2 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price2 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn2 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn2 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img2:hover {
  transform: translateY(-3px);
}

.card-btn2:hover {
  border: 2px solid var(--main-focus);
}

.card-btn2:hover svg {
  fill: var(--main-focus);
}

.card-btn2:active {
  transform: translateY(3px);
}
.card3 {
  top: 300px;
  left: 1300px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card3:last-child{
  justify-content: flex-end;
}

.card-img3 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider3 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price3 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn3 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn3 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img3:hover {
  transform: translateY(-3px);
}

.card-btn3:hover {
  border: 2px solid var(--main-focus);
}

.card-btn3:hover svg {
  fill: var(--main-focus);
}

.card-btn3:active {
  transform: translateY(3px);
}

.card4 {
  top: 800px;
  left: 1300px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4:last-child{
  justify-content: flex-end;
}

.card-img4 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title4 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle4 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider4 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price4 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn4 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn4 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img4:hover {
  transform: translateY(-3px);
}

.card-btn4:hover {
  border: 2px solid var(--main-focus);
}

.card-btn4:hover svg {
  fill: var(--main-focus);
}

.card-btn4:active {
  transform: translateY(3px);
}
.card5 {
  top: 800px;
  left: 750px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card5:last-child{
  justify-content: flex-end;
}

.card-img5 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title5 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle5 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider5 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price5 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price5 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn5 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn5 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img5:hover {
  transform: translateY(-3px);
}

.card-btn5:hover {
  border: 2px solid var(--main-focus);
}

.card-btn5:hover svg {
  fill: var(--main-focus);
}

.card-btn5:active {
  transform: translateY(3px);
}

.card6 {
  top: 800px;
  left: 200px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card6:last-child{
  justify-content: flex-end;
}

.card-img6 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title6 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider6 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer6{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price6 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price6 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn6 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn6 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img6:hover {
  transform: translateY(-3px);
}

.card-btn6:hover {
  border: 2px solid var(--main-focus);
}

.card-btn6:hover svg {
  fill: var(--main-focus);
}

.card-btn6:active {
  transform: translateY(3px);
}

.card7 {
  top: 1320px;
  left: 200px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card7:last-child{
  justify-content: flex-end;
}

.card-img7 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title7 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle7 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider7 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer7{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price7 {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price7 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn7 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn7 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img7:hover {
  transform: translateY(-3px);
}

.card-btn7:hover {
  border: 2px solid var(--main-focus);
}

.card-btn7:hover svg {
  fill: var(--main-focus);
}

.card-btn7:active {
  transform: translateY(3px);
}

.card8 {
  top: 1320px;
  left: 750px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card8:last-child{
  justify-content: flex-end;
}

.card-img8 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title8 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle8 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider8 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer8{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price8{
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price8 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn8 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn8 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img8:hover {
  transform: translateY(-3px);
}

.card-btn8:hover {
  border: 2px solid var(--main-focus);
}

.card-btn8:hover svg {
  fill: var(--main-focus);
}

.card-btn8:active {
  transform: translateY(3px);
}

.card9 {
  top: 1320px;
  left: 1300px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: red;
  position: absolute;
  width: 330px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card9:last-child{
  justify-content: flex-end;
}

.card-img9 {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-title9 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle9 {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider9 {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer9{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price9{
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price9 span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn9 {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn9 svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img9:hover {
  transform: translateY(-3px);
}

.card-btn9:hover {
  border: 2px solid var(--main-focus);
}

.card-btn9:hover svg {
  fill: var(--main-focus);
}

.card-btn9:active {
  transform: translateY(3px);
}



